<header><h2><u>{{ include.title | default: page.title }}</u></h2>
<article style="display:flex;">
	<div style="float:left; width: 220%;">
		<img src="/assets/img/profile.jpg">
	</div>
	<div style="float:left; margin-left: 20px;text-align: justify;">
	I joined <b>Adobe Research, India</b> as a Research Associate in June 2018. I also interned at Adobe Research during the Summer of 2017 where I worked on Deconstructing and Denominating Customer Experience using Clickstream-data. Before Adobe, I completed my <b>B.Tech in Computer Science and Engineering</b> from <b>Indian Institute of Technology Roorkee</b>. My B.Tech project was on Distributed Storage network with Smart-contract incentivisation. My research interests includes Systems and Machine Learning. My current work lies in the intersection of Systems and Machine Learning trying to find ways for data-driven system optimization.
	</div>
</article>
</header>