<article>
<header><h1>{{ include.title | default: page.title }}</h1></header>
Nikhil joined the BigData Experience Lab of Adobe Research in June 2018. He interned at Adobe Research during the Summer of 2017 where he worked on Deconstructing and Denominating Customer Experience using Clickstream-data. Nikhil completed his B.Tech in Computer Science and Engineering from Indian Institute of Technology Roorkee. His B.Tech project was on Distributed Storage network with Smart-contract incentivisation. His technical interests includes Computer Systems, Machine Learning and Networks. His current work at Adobe Research revolves around ML-driven system optimization.
</article>
