<header><h2><u>{{ include.title | default: page.title }}</u></h2>
<article style="display:flex;">
	<div style="float:left; width: 220%;">
		<img src="/assets/img/profile.jpg">
	</div>
	<div style="float:left; margin-left: 20px;text-align: justify;">
	I have joined <b>Databricks, Mountain View</b> as a Software Engineer in Feb 2023 after finishing my Masters of Science in Computer Science degree from <b>University of Illinois at Urbana-Champaign</b>.
	I finished my thesis under the guidance of <b>Prof. Yongjoo Park</b> in the area of online aggregation for deeply nested queries.
	During my masters, I interned at <b>Meta, Menlo Park</b> where I worked on tools to help debug entropy explosion in ranking models.
	Prior to this, I worked at <b>Adobe Research, India</b> as a Research Associate where my work primarily lay in the intersection of Systems and Machine Learning trying to find ways for data-driven system optimization.
	I also interned at Adobe Research during the Summer of 2017 where I worked on Deconstructing and Denominating Customer Experience using Clickstream-data.
	Before Adobe, I completed my <b>B.Tech in Computer Science and Engineering</b> from <b>Indian Institute of Technology Roorkee</b>.
	My B.Tech project was on Distributed Storage network with Smart-contract incentivisation.
	My research interests includes Systems and Machine Learning.
	</div>
</article>
</header>